:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
}

body {
  margin: 0;
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #52565b;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
